/* Sıfırlama */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace; 
}

/* Liste stili */
ul {
  list-style: none;
}

/* Genel stil */
body {
  background-color: #333;
}

/* Ana kutu */
._2 {
  background-color: #28a745;
  width: 700px;
  border-radius: 10px;
}

/* Kutunun içeriği */
._1 {
  display: flex;
  justify-content: center;
}

/* Başlık */
._3 {
  background-color: #007bff;
  height: 100px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Alt başlık */
._4 {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

/* Menü */
._6 {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #333;
  color: #fff;
}

/* Menü öğeleri */
._7 {
  margin-left: 25px;
}
._8 {
  margin-left: 10px;
}

/* Float temizleme */
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Sağ sınır çizgisi */
#br {
  border-right: solid 1px #333;
}

/* Sayfa içeriği */
._9 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
._10 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
